<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/ccxt@1.56.86/dist/ccxt.browser.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>First Time Login</title>
  </head>
  <body>
    <div style="height: 100vh;">
      <div class="container d-flex">
        <div class="row align-items-start">
            <form action = "" method="post">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingPublicKey" name="publicKey" required minlength="64">
                    <label for="floatingPublicKey" class="form-label">Public Binance Key</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPrivateKey" name="privateKey" required minlength="8">
                    <label for="floatingPrivateKey" class="form-label">Private Binance Key</label>
                </div>
                <select name="exchange" class="form-select">
                    <option selected>Select Your Crypto Exchange</option>
                    <option value="binance"></option>
                </select>
                <select name="currency" class="form-select">
                    <option selected>Select Your Native Currency</option>
                    <option value="usd">$USD</option>
                    <option value="gbp">£GBP</option>
                    <option value="eur">€EUR</option>
                    <option value="cny">¥CNY</option>
                </select>
                <div>
                    <button class="btn btn-light" type="submit">Submit</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </body>
</html>
