<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/ccxt@1.56.86/dist/ccxt.browser.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src=" {{ url_for('static', filename='home.js') }}"></script>
    <script>
      set_user_id({{userID|tojson}});
    </script>
    <title>SmartTrade Home</title>
  </head>
  <body>
    <ul>
      <li><a class="focus" href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('strategy_editor') }}">Strategy Editor</a></li>
      <li><a href="{{ url_for('backtest') }}">Backtesting</a></li>
    </ul>
    <div>
      <div class="container-fluid">
        <div class="row align-items-start">
          <div class="col">
            <div id="chartDiv" style="height: 100vh; width: 60vw;">
              <canvas id="profileValueChart"></canvas>
            </div>
          </div>
          <div class="col" style="height: 100vh; width: 40vw;">
            <div class="row align-items-center">
              <h1>Portfolio Value:</h1> 
              <h1 id="profileValue" >$0.00</h1>
            </div>
            <div class="row align-items-center">
              <h1>Asset Holdings</h1> 
              <table class="table table-striped table-dark" id="holdingTable">
                <thead>
                  <tr>
                    <th scope="col">Asset</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Value</th>
                  </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
