<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>Strategy Editor</title>
    </head>
    <body>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a class="focus" href="{{ url_for('strategy_editor') }}">Strategy Editor</a></li>
            <li><a href="{{ url_for('backtest') }}">Backtesting</a></li>
        </ul>
        <div>
            <h1>You Are On The Strategy Editor Page</h1>
        </div>
    </body>
</html>