.fullsize {
  height: 100vh;
  width: 100vw;
}

* {
  font-family: Verdana, sans-serif;
  word-wrap: normal;
  overflow: hidden;
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.centered-div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

a {
  color: #61dafb;
}

#error-message {
  color:rgb(212, 40, 40);
  text-align: center;
  
}

.page-container {
  min-height: 80vh;
}